:root {
  --box-bg-color: #24232c;
  --font-color: #817d92;
  --almost-white-color: #e6e5ea;
  --neon-green-color: #a4ffaf;
  --box-width: 25vw;
}

/* Main Div Style -> Start */

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
}

/* Main Div Style -> End */

/* Heading Style -> Start */

#heading {
  color: var(--font-color);
  font-size: 1em;
}

/* Heading Style -> End */

/* Box Wrapper Style -> Start */

.box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Box Wrapper Style -> End */

/* Password Box Style -> Start */

.password-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--box-bg-color);
  padding: 0em 2em;
  border-radius: 5px;
  width: var(--box-width);
}

#password {
  color: var(--almost-white-color);
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

#copy-button {
  cursor: pointer;
}

/* Password Box Style -> End */

/* Tools Box Style -> Start */

.tools-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--box-bg-color);
  padding: 0em 2em;
  border-radius: 5px;
  width: var(--box-width);
  margin-top: 20px;
}

.tool-row {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

#character-length-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#character-length-label {
  color: var(--almost-white-color);
}

#character-length-value {
  color: var(--neon-green-color);
  font-size: 1.2em;
}

#character-length-slider {
  width: 100%;
  overflow: hidden;
  background-color: black;
  overflow: hidden;
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: var(--neon-green-color);
  margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 20px;
  cursor: pointer;
  background: var(--almost-white-color);
  box-shadow: -85px 0 0 80px var(--neon-green-color);
}

/* Tools Box Style -> End */

@media screen and (max-width: 1100px) {
  .password-box {
    width: 50vw;
  }
}

@media screen and (max-width: 768px) {
  .password-box {
    width: 70vw;
  }
}
